<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Spring Boot file upload example</h1>
<form method="POST" action="/helloObject/" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <td>i</td>
            <td><input type="text" name="i"></td>
        </tr>
        <tr>
            <td>flag</td>
            <td><input type="text" name="flag"></td>
        </tr>
        <tr>
            <td>b</td>
            <td><input type="text" name="b"></td>
        </tr>
        <tr>
            <td>f</td>
            <td><input type="text" name="f"></td>
        </tr>
        <tr>
            <td>d</td>
            <td><input type="text" name="d"></td>
        </tr>
        <tr>
            <td>name</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>time</td>
            <td><input type="text" name="time"></td>
        </tr>
        <tr>
            <td>c</td>
            <td><input type="text" name="c"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="提交">
            </td>
        </tr>

    </table>
</form>
</body>
</html>