<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ ''; </script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/js/helloObject/helloObject.js}"></script>
</head>
<body>
<h1>Spring Boot file upload example</h1>
<form method="POST" th:action="@{/helloObject/}" enctype="application/x-www-form-urlencoded"
        onsubmit="return hello();">
    <table>
        <tr>
            <td>i</td>
            <td><input type="text" name="i" id="i"></td>
        </tr>
        <tr>
            <td>flag</td>
            <td><input type="text" name="flag" id="flag"></td>
        </tr>
        <tr>
            <td>b</td>
            <td><input type="text" name="b"></td>
        </tr>
        <tr>
            <td>f</td>
            <td><input type="text" name="f"></td>
        </tr>
        <tr>
            <td>d</td>
            <td><input type="text" name="d"></td>
        </tr>
        <tr>
            <td>name</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>time</td>
            <td><input type="text" name="time"></td>
        </tr>
        <tr>
            <td>c</td>
            <td><input type="text" name="c"></td>
        </tr>
        <tr>
            <td>data</td>
            <td><input type="text" name="data"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="submit" type="submit" value="提交">
            </td>
        </tr>

    </table>
</form>
</body>
</html>